@import './reset.css';
@import './variables.css';

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/qa-bg-small.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-background-light);
    overflow: hidden;
}

@media (min-width: 1024px) {
    body {
        background-image: url('../assets/qa-bg.jpg');
    }
}

.container {
    max-width: 768px;
    height: 100vh;
    margin-inline: auto;
    padding-inline: 1rem;
}

.generator {
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-bottom: 32px;
}

.btn {
    cursor: pointer;
    background-color: var(--color-primary);
    text-align: center;
}

form {
    width: 100%;

    input {
        padding-inline: 0.75rem;
    }

    input::placeholder {
        color: var(--color-background-light);
    }

    button {
        width: 100%;
        padding-block: 12px;
        border-radius: 14px;
    }

    & > div {
        background-color: var(--color-text-dark);
        width: 100%;
        border: 2px solid var(--color-primary);
        display: grid;
        grid-template-columns: calc(100% - 80px) 80px;
        padding: 0.25rem;
        border-radius: 14px;
    }
}

@media (min-width: 640px) {
    form {
        input {
            padding-inline: 1.25rem;
        }

        button {
            padding-block: 16px;
        }

        & > div {
            grid-template-columns: calc(100% - 120px) 120px;
        }
    }
}

.hidden {
    display: none;
    overflow: hidden;
}

#qrcode {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.qrcode_content {
    position: relative;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-neutral);
    padding: 22px;
    border-radius: 22px;

    &::after {
        content: '';
        position: absolute;
        width: 222px;
        height: 222px;
        background-color: var(--color-overlay);
        border-radius: 50%;
    }
}

.qrcode_actions {
    margin-top: 64px;
    display: flex;
    align-items: center;
    gap: 32px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        min-width: 140px;
        padding-block: 16px;
        border-radius: 16px;
        text-transform: capitalize;
    }
}

.small-logo {
    position: absolute;
    top: 36px;
}

.btn-back {
    position: absolute;
    top: 36px;
    left: 0;
    width: 24px;
    cursor: pointer;
    border-radius: 16px;

    &:hover {
        transform: scale(1.2);
    }
}
